<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>SEOX- SOCIAL MEIDA MARKETING AGENCY</title>

     <!--=====FAB ICON=======-->
     <link rel="shortcut icon" href="assets/img/logo/title3.svg" type="image/x-icon">


     <!--=====CSS=======-->
     <link rel="stylesheet" href="assets/css/bootstrap.min.css">
     <link rel="stylesheet" href="assets/css/fontawesome.css">
     <link rel="stylesheet" href="assets/css/magnific-popup.css">
     <link rel="stylesheet" href="assets/css/nice-select.css">
     <link rel="stylesheet" href="assets/css/slick-slider.css">
     <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
     <link rel="stylesheet" href="assets/css/aos.css">
     <link rel="stylesheet" href="swiper%4014.2.0/swiper-bundle.min.css">
     <link rel="stylesheet" href="assets/css/mobile-menu.css">
     <link rel="stylesheet" href="assets/css/utility.css">
     <link rel="stylesheet" href="assets/css/main.css">


     <!--=====JQUERY=======-->
     <script src="assets/js/jquery-3-7-1.min.js"></script>
</head>
<body class="body1">
<div class="paginacontainer"> 

  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>

</div> 

<!--=====progress END=======-->

<!--=====PRELOADER START=======-->

<div class="preloader9">
    <!-- Preloader -->
 <div id="preloader">
    <!-- Progress Bar at Top -->
    <div class="progress-bar"></div>
    <!-- Title Logo in Center with Rotation -->
    <div class="title-logo">
      <img src="assets/img/logo/preloader-icon1.png" alt="SEO Marketing Logo">
    </div>
  </div>
 </div>
 
 <!--=====PRELOADER END=======-->

<!--=====HEADER START=======-->

<header>

   <div id="vl-header-sticky" class="vl-header-area25 header-tranperent">
       <div class="container header2-bg">
           <div class="row align-items-center">
               <div class="col-lg-2 col-md-6 col-6">
                   <div class="vl-logo">
                       <a href="index.html" class="header1-logo-block"><img src="assets/img/logo/white-logo.png" alt=""></a>
                   </div>
               </div>
               <div class="col-lg-7 d-none d-lg-block text-end">
                   <div class="vl-main-menu">
                       <nav class="vl-mobile-menu-active">
                           <ul id="list-example">
                            <li><a class="list-group-item list-group-item-action" href="#about">About</a></li>
                            <li><a class="list-group-item list-group-item-action" href="#service">Service</a></li>
                            <li><a class="list-group-item list-group-item-action" href="#team">Team</a></li>
                            <li><a class="list-group-item list-group-item-action" href="#testimonial">Testimonial</a></li>
                            <li><a class="list-group-item list-group-item-action" href="#blog">Blog</a></li>
                         </ul>
                       </nav>
                   </div>
               </div>
               <div class="col-lg-3 col-md-6 col-6">
                  <div class="vl-header3-btns text-end d-none d-lg-block">
                     <div class="button">
                        <a class="theme-btn43" href="contact.html">Get Started <i class="fa-solid fa-arrow-right"></i></a>
                     </div>
                  </div>
                   <div class="vl-header-action-item d-block d-lg-none">
                       <button type="button" class="vl-offcanvas-toggle">
                           <i class="fa-duotone fa-solid fa-bars-staggered"></i>
                       </button>
                    </div>
               </div>
           </div>
       </div>
   </div>
 </header>
  <!--=====HEADER END =======-->
 
   <!--===== MOBILE HEADER STARTS =======-->
    <div class="vl-offcanvas vl-header-area1">
     <div class="vl-offcanvas-wrapper">
         <div class="vl-offcanvas-header d-flex justify-content-between align-items-center mb-90">
             <div class="vl-offcanvas-logo">
                 <a href="index.html" class="header1-logo-block"><img src="assets/img/logo/black-logo.png" alt=""></a>
             </div>
             <div class="vl-offcanvas-close">
                <button class="vl-offcanvas-close-toggle"><i class="fa-solid fa-xmark"></i></button>
             </div>
         </div>
 
         <div class="vl-offcanvas-menu d-lg-none mb-40">
             <nav></nav>
         </div>
 
         <div class="space20"></div>
         <div class="vl-offcanvas-info">
            <h4 class="black1 text-24 mb-30 leading-24 font-semibold">Contact Us</h4>
             <div class="single-contact flex align-items-center">
               <div class="text">
                  <a href="tel:+11234567890" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">+1 123 456 7890</a>
               </div>
            </div>

            <div class="single-contact flex align-items-center mt-6">
               <div class="text">
                  <a href="#" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">421 Allen, Mexico 4233</a>
               </div>
            </div>

            <div class="single-contact flex align-items-center mt-6">
               <div class="text">
                  <a href="mailto:Hosticconsult@com" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">Hosticconsult@com</a>
               </div>
            </div>

            <div class="single-contact flex align-items-center mt-6">
               <div class="text">
                  <a href="#" class="ml-10 gray2 inline-block p-10-0 text-18 leading-18 text _hover1 font-medium">+1 123 456 7890</a>
               </div>
            </div>
         </div>
         <div class="space20"></div>
         <div class="vl-offcanvas-social">
            <h4 class="black1 text-24 mb-20 mt-20 leading-24 font-semibold">Follow Us</h4>
             <div class="vl-copyright-social2 text-start mt-20">
               <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
               <a href="#"><i class="fa-brands fa-instagram"></i></a>
               <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
               <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
          </div>
 
     </div>
 </div>
 <div class="vl-offcanvas-overlay"></div>
 <!--===== MOBILE HEADER STARTS =======-->

<main>

<!--===== HERO AREA START =====-->
<div class="hero25-section" style="background-image: url(assets/img/bg/hero25-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <img src="assets/img/shapes/hero25-shape4.png" alt="" class="hero25-shape4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="hero25-heading">
          <h5><img src="assets/img/icons/span26.svg" alt=""> Social Media Marketing</h5>
          <div class="space16"></div>
          <h2>Growth With High-Impact Social Media</h2>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="contact.html" class="theme-btn43">Boost My Social Media <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero25-images-area">
          <img src="assets/img/shapes/hero25-shape1.png" alt="" class="hero25-shape1">
          <img src="assets/img/shapes/hero25-shape2.png" alt="" class="hero25-shape2">
          <img src="assets/img/shapes/hero25-shape3.png" alt="" class="hero25-shape3">
          <div class="img1">
            <img src="assets/img/hero/hero25-img1.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="hero25-author-area">
          <img src="assets/img/shapes/hero25-auhtor1.png" alt="">
          <div class="space100"></div>
          <div class="space18"></div>
          <div class="hero25-author-text">
            <h2>2K+</h2>
            <div class="space16"></div>
            <p>Happy Client</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--===== HERO AREA START =====-->

<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
<!--===== ABOUT AREA STARTS =======-->
<div class="about25-section sp" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about25-images-area">
          <div class="img1">
            <img src="assets/img/about/about25-img1.png" alt="">
          </div>
          <img src="assets/img/shapes/about25-shape1.png" alt="" class="about25-shape1">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about25-heading heading30">
          <h5><img src="assets/img/icons/span26.svg" alt=""> tailored social strategies</h5>
          <div class="space16"></div>
          <h2>Helping Business All Size Stay Ahead Social Media</h2>
          <div class="space16"></div>
          <p>At the heart of our agency is the team of creatives, strategist and digital experts who live best breathe social media posts</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="about25-list">
                <ul>
                  <li><img src="assets/img/icons/check25.svg" alt=""> We Drive Real Growth</li>
                  <li><img src="assets/img/icons/check25.svg" alt=""> Maximize Your Reach</li>
                </ul>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="about25-list">
                <ul>
                  <li><img src="assets/img/icons/check25.svg" alt=""> Custom Social Strategie</li>
                  <li><img src="assets/img/icons/check25.svg" alt=""> Optimized Ad Campaign</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="contact.html" class="theme-btn43">Start Growing Today <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== ABOUT AREA ENDS =======-->

<!--===== PROCESS AREA STARTS =======-->
<div class="process25-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto">
        <div class="heading30 text-center">
          <h5><img src="assets/img/icons/span26.svg" alt=""> From Strategy to Success</h5>
          <div class="space16"></div>
          <h2>Simple Steps to Big Results</h2>
        </div>
      </div>
    </div>

    <div class="row mt-30">
         <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
            <div class="work-prosses25-box add-after">
               <div class="num">01</div>
               <div class="content heading8">
                  <h4><a href="#">Discovery And Strategy</a></h4>
                  <p class="mt-12">We start with a deep dive into your brand, audience, and goals based</p>
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
            <div class="work-prosses25-box add-after">
               <div class="num">02</div>
               <div class="content heading8">
                  <h4><a href="#">Paid Campaigns (Optional)</a></h4>
                  <p class="mt-12">Want to scale fast? We set up and manage target ad campaign grow</p>
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
            <div class="work-prosses25-box">
               <div class="num">03</div>
               <div class="content heading8">
                  <h4><a href="#">Monitor Analyze Improve</a></h4>
                  <p class="mt-12">With regular reporting, insights, and tweaks, we make sure your content</p>
               </div>
            </div>
         </div>

      </div>
  </div>
</div>
<!--===== PROCESS AREA ENDS =======-->

<!--===== SERVICE AREA STARTS =======-->
<div class="service25-section sp" id="service" style="background-image: url(assets/img/bg/service25-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto">
        <div class="heading31 text-center">
          <h5><img src="assets/img/icons/span26.svg" alt=""> Social Media Strategies</h5>
          <div class="space16"></div>
          <h2>Tailored Social Media Solution</h2>
        </div>
      </div>
    </div>

    <div class="row mt-60 align-items-center">
      <div class="col-lg-5">
        <div class="service25-tabs-area">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
              <span><img src="assets/img/icons/service25-icons1.svg" alt=""></span>
              Social Media Strategy
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
              <span><img src="assets/img/icons/service25-icons2.svg" alt=""></span>
              Social Media Advertising
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
              <span><img src="assets/img/icons/service25-icons3.svg" alt=""></span>
              Social Media Analytics
            </button>
          </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact1-tab" data-bs-toggle="pill" data-bs-target="#pills-contact1" type="button" role="tab" aria-controls="pills-contact1" aria-selected="false">
              <span><img src="assets/img/icons/service25-icons4.svg" alt=""></span>
              Video Reels Marketing
            </button>
          </li>
        </ul>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
          <div class="service25-images-area">
            <div class="img1">
              <img src="assets/img/service/service25-img1.png" alt="">
            </div>
            <img src="assets/img/shapes/service25-shape1.png" alt="" class="service25-shape1">
            <img src="assets/img/shapes/service25-shape2.png" alt="" class="service25-shape2">
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          <div class="service25-images-area">
            <div class="img1">
              <img src="assets/img/service/service25-img1.png" alt="">
            </div>
            <img src="assets/img/shapes/service25-shape1.png" alt="" class="service25-shape1">
            <img src="assets/img/shapes/service25-shape2.png" alt="" class="service25-shape2">
          </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
          <div class="service25-images-area">
            <div class="img1">
              <img src="assets/img/service/service25-img1.png" alt="">
            </div>
            <img src="assets/img/shapes/service25-shape1.png" alt="" class="service25-shape1">
            <img src="assets/img/shapes/service25-shape2.png" alt="" class="service25-shape2">
          </div>
        </div>

        <div class="tab-pane fade" id="pills-contact1" role="tabpanel" aria-labelledby="pills-contact1-tab" tabindex="0">
          <div class="service25-images-area">
            <div class="img1">
              <img src="assets/img/service/service25-img1.png" alt="">
            </div>
            <img src="assets/img/shapes/service25-shape1.png" alt="" class="service25-shape1">
            <img src="assets/img/shapes/service25-shape2.png" alt="" class="service25-shape2">
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!--===== SERVICE AREA ENDS =======-->

<!--=== CASE AREA START === -->

    <div class="case25 sp">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="heading30">
                        <h5 class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span26.svg" alt=""> What We Do Works</h5>
                        <div class="space16"></div>
                        <h2 class="text-anime-style-3">Social Success Stories </h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-end button md:mt-20 sm:mt-20 md:text-start sm:text-start" data-aos="fade-left" data-aos-duration="800">
                       <a href="#" class="theme-btn43">View Case Studies <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="row mt-40">
                <div class="col-lg-7 m-auto">
                    <div class="case25-slider-all" data-aos="fade-up" data-aos-duration="800">
                        <div class="testimonial2-slider-area">
                            <div class="rev_slider">
                              <div class="rev_slide">
                                <div class="test">
                                  <img src="assets/img/others/case4-slider1.png" alt="">
                                </div>
                                <div class="text">
                                    <a href="service.html" class="theme-btn43">
                                        Learn More <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="#">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="rev_slide">
                                <div class="test"> 
                                    <img src="assets/img/others/case4-slider2.png" alt="">
                                </div>
                                <div class="text">
                                    <a href="service.html" class="theme-btn43">
                                        Learn More <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="#">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="rev_slide">
                                <div class="test"> 
                                    <img src="assets/img/others/case4-slider3.png" alt="">
                                </div>
                                <div class="text">
                                    <a href="service.html" class="theme-btn43">
                                        Learn More <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="#">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="rev_slide">
                                <div class="test">
                                    <img src="assets/img/others/case4-slider1.png" alt="">
                                </div>
                                <div class="text">
                                    <a href="service.html" class="theme-btn43">
                                        Learn More <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="#">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="rev_slide">
                                <div class="test"> 
                                    <img src="assets/img/others/case4-slider2.png" alt="">
                                </div>
                                <div class="text">
                                    <a href="service.html" class="theme-btn43">
                                        Learn More <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="#">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="rev_slide">
                                <div class="test"> 
                                    <img src="assets/img/others/case4-slider3.png" alt="">
                                </div>
                                <div class="text">
                                    <a href="service.html" class="theme-btn43">
                                        Learn More <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="#">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.</p>
                                    </div>
                                 </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=== CASE AREA END === -->

<!--===== SERVICE AREA STARTS =======-->
<div class="tolarate-service25-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="service-tolarate-heading heading30">
          <h5><img src="assets/img/icons/span26.svg" alt=""> tailored social strategies</h5>
          <div class="space16"></div>
          <h2>Results Driven Marketing For Your Social Business</h2>
          <div class="space16"></div>
          <p>Our team experts specialize enhancing your online presence ensuring that you brand only gets noticed but also converts</p>
          <div class="space28"></div>
           <div class="progress-container">
            <div class="label-row">
              <span>Audience Engagement</span>
              <span>90%</span>
            </div>
            <div class="progress-bar">
              <div class="progress-fill">
                <div class="progress-circle"></div>
              </div>
            </div>
          </div>
          <div class="space16"></div>
          <div class="progress-container">
            <div class="label-row">
              <span>Campaign Effectiveness</span>
              <span>90%</span>
            </div>
            <div class="progress-bar">
              <div class="progress-fill">
                <div class="progress-circle"></div>
              </div>
            </div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="contact.html" class="theme-btn43">Start Growing Today <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="service-tolrate-images">
          <img src="assets/img/others/service25-elements1.png" alt="" class="service25-elements1">
          <div class="img1 text-end">
            <img src="assets/img/service/service26-img1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== SERVICE AREA ENDS =======-->

<!--===== TEAM AREA STARTS =======-->
<div class="team25-section sp" id="team">
  <img src="assets/img/shapes/team25-elements1.png" alt="" class="team25-elements1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto">
        <div class="heading30 text-center">
          <h5><img src="assets/img/icons/span26.svg" alt="">Led by Passion Driven Results</h5>
          <div class="space16"></div>
          <h2>Our Experts Behind The Magic</h2>
        </div>
      </div>
    </div>

    <div class="row mt-30">
      <div class="col-lg-4 col-md-6">
        <div class="team25-boxarea">
              <div class="img1">
                  <img src="assets/img/team/team25-img1.png" alt="">
              </div>
              <div class="team25-content">
                  <ul class="team25-social">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                      <li> <a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                  </ul>
                  <div class="cross-icons">
                      <a href="#"><i class="fa-solid fa-plus"></i></a>
                  </div>
                  <div class="content25">
                      <a href="#">Henrich Klassen</a>
                      <div class="space10"></div>
                      <p>CEO And Founder</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="team25-boxarea">
              <div class="img1">
                  <img src="assets/img/team/team25-img2.png" alt="">
              </div>
              <div class="team25-content">
                  <ul class="team25-social">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                      <li> <a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                  </ul>
                  <div class="cross-icons">
                      <a href="#"><i class="fa-solid fa-plus"></i></a>
                  </div>
                  <div class="content25">
                      <a href="#">Michael Roberts</a>
                      <div class="space10"></div>
                      <p>Research Analyst</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="team25-boxarea">
              <div class="img1">
                  <img src="assets/img/team/team25-img3.png" alt="">
              </div>
              <div class="team25-content">
                  <ul class="team25-social">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                      <li> <a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                  </ul>
                  <div class="cross-icons">
                      <a href="#"><i class="fa-solid fa-plus"></i></a>
                  </div>
                  <div class="content25">
                      <a href="#">Sopoh Martinez</a>
                      <div class="space10"></div>
                      <p>Technical SMM Expert</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!--===== TEAM AREA ENDS =======-->

<!--===== TESTIMONIAL AREA STARTS =======-->
<div class="space100"></div>
 <div class="testimonial25-section" id="testimonial">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="heading30">
          <h5><img src="assets/img/icons/span26.svg" alt=""> Client Testimonials</h5>
          <div class="space16"></div>
          <h2>What Our Clients Say</h2>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="btn-area1 text-end">
          <a href="testimonial.html" class="theme-btn43">View Testimonials <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div class="space60"></div>
 <div class="testimonial25-slider-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="testimonial-iamges-counter-area">
          <div class="row align-items-center">
            <div class="col-lg-7">
              <div class="img1">
                <img src="assets/img/testimonial/testimonial25-img1.png" alt="">
              </div>
            </div>
            <div class="col-lg-5">
              <div class="testimonial-counter">
                <h2>12M+</h2>
                <div class="space12"></div>
                <p>Impressions Generated</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-counter">
                <h2>25M+</h2>
                <div class="space12"></div>
                <p>New Followers Gained</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="testimonail25-arrow">
                            
          <div class="testimonial25-slider-area">
          <div class="testimonial25-boxarea">
              <ul>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
              </ul>
              <div class="space16"></div>
              <p class="pera">“The team at truly transformed our business. Their deep understanding of the industry and strategic insight helped are navigated complex challenges  achieve real results seen significant of increase”</p>
              <div class="space32"></div>
              <div class="author-testi-area">
                  <div class="img1">
                      <img src="assets/img/testimonial/team2-image1.png" alt="">
                  </div>
                  <div class="content-testi-area">
                      <a href="#" class="title">Dennis Callis</a>
                      <div class="space12"></div>
                      <p>Social Influencer</p>
                  </div>
              </div>
          </div>
          
          <div class="testimonial25-boxarea">
              <ul>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
              </ul>
              <div class="space16"></div>
              <p class="pera">“The team at truly transformed our business. Their deep understanding of the industry and strategic insight helped are navigated complex challenges  achieve real results seen significant of increase”</p>
              <div class="space28"></div>
              <div class="author-testi-area">
                  <div class="img1">
                      <img src="assets/img/testimonial/team2-image1.png" alt="">
                  </div>
                  <div class="content-testi-area">
                      <a href="#" class="title">Dennis Callis</a>
                      <div class="space12"></div>
                      <p>Social Influencer</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="prev-next-area">
              <button class="tes25-prev-arrow active"><i class="fa-solid fa-angle-left"></i></button>
              <button class="tes25-next-arrow"><i class="fa-solid fa-angle-right"></i></button>
          </div>
      </div>
      </div>
    </div>
  </div>
 </div>
 <div class="space100"></div>
<!--===== TESTIMONIAL AREA ENDS =======-->

 <!--===== BLOG AREA STARTS =====-->
   <div class="blog25-section sp" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="heading30 text-center">
                    <h5><img src="assets/img/icons/span26.svg" alt=""> Marketing Tips And Updates</h5>
                    <div class="space16"></div>
                    <h2>Social Media Tips And Tricks</h2>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-lg-4 col-md-6">
                <div class="blog25-single-item">
                    <div class="img1">
                        <img src="assets/img/blog/blog25-img1.png" alt="">
                    </div>
                    <div class="content25-area">
                        <div class="user">
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                            <path d="M5.89294 15.4767C4.59516 14.1781 3.94585 13.5296 3.70477 12.6871C3.46285 11.8446 3.66949 10.95 4.08276 9.16166L4.32048 8.13015C4.6674 6.62489 4.84128 5.87226 5.35619 5.35651C5.8711 4.84075 6.62457 4.66772 8.12983 4.3208L9.16134 4.08224C10.9505 3.66981 11.8443 3.46317 12.6868 3.70425C13.5293 3.94616 14.1778 4.59548 15.4755 5.89326L17.0127 7.43044C19.2731 9.69001 20.4012 10.819 20.4012 12.2217C20.4012 13.6254 19.2723 14.7543 17.0136 17.013C14.754 19.2726 13.625 20.4016 12.2214 20.4016C10.8186 20.4016 9.68886 19.2726 7.43012 17.0139L5.89294 15.4767Z" stroke="#050410" stroke-width="1.5"></path>
                            <path d="M10.3372 10.5668C10.9933 9.91076 10.9933 8.84705 10.3372 8.19098C9.68114 7.53491 8.61744 7.53491 7.96136 8.19098C7.30529 8.84705 7.30529 9.91076 7.96136 10.5668C8.61743 11.2229 9.68114 11.2229 10.3372 10.5668Z" stroke="#050410" stroke-width="1.5"></path>
                            <path d="M11.6172 17.4608L17.4795 11.5977" stroke="#050410" stroke-width="1.5" stroke-linecap="round"></path>
                          </svg>#SocialGrowth</a>
                        </div>
                        <div class="space18"></div>
                        <a href="blog-details.html" class="title">Level Up Social Media Grow Fast Experts Insight Tactics</a>
                        <div class="space26"></div>
                        <div class="btn-area1">
                            <a href="blog-details.html" class="theme-btn43">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog25-single-item">
                    <div class="img1">
                        <img src="assets/img/blog/blog25-img2.png" alt="">
                    </div>
                    <div class="content25-area">
                        <div class="user">
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                          <path d="M5.89294 15.4767C4.59516 14.1781 3.94585 13.5296 3.70477 12.6871C3.46285 11.8446 3.66949 10.95 4.08276 9.16166L4.32048 8.13015C4.6674 6.62489 4.84128 5.87226 5.35619 5.35651C5.8711 4.84075 6.62457 4.66772 8.12983 4.3208L9.16134 4.08224C10.9505 3.66981 11.8443 3.46317 12.6868 3.70425C13.5293 3.94616 14.1778 4.59548 15.4755 5.89326L17.0127 7.43044C19.2731 9.69001 20.4012 10.819 20.4012 12.2217C20.4012 13.6254 19.2723 14.7543 17.0136 17.013C14.754 19.2726 13.625 20.4016 12.2214 20.4016C10.8186 20.4016 9.68886 19.2726 7.43012 17.0139L5.89294 15.4767Z" stroke="#050410" stroke-width="1.5"></path>
                          <path d="M10.3372 10.5668C10.9933 9.91076 10.9933 8.84705 10.3372 8.19098C9.68114 7.53491 8.61744 7.53491 7.96136 8.19098C7.30529 8.84705 7.30529 9.91076 7.96136 10.5668C8.61743 11.2229 9.68114 11.2229 10.3372 10.5668Z" stroke="#050410" stroke-width="1.5"></path>
                          <path d="M11.6172 17.4608L17.4795 11.5977" stroke="#050410" stroke-width="1.5" stroke-linecap="round"></path>
                        </svg>#GrowthHacking</a>
                        </div>
                        <div class="space18"></div>
                        <a href="blog-details.html" class="title">The Only Your Social Media Resource You’ll Ever Need</a>
                        <div class="space26"></div>
                        <div class="btn-area1">
                            <a href="blog-details.html" class="theme-btn43">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog25-single-item">
                    <div class="img1">
                        <img src="assets/img/blog/blog25-img3.png" alt="">
                    </div>
                    <div class="content25-area">
                        <div class="user">
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                            <path d="M5.89294 15.4767C4.59516 14.1781 3.94585 13.5296 3.70477 12.6871C3.46285 11.8446 3.66949 10.95 4.08276 9.16166L4.32048 8.13015C4.6674 6.62489 4.84128 5.87226 5.35619 5.35651C5.8711 4.84075 6.62457 4.66772 8.12983 4.3208L9.16134 4.08224C10.9505 3.66981 11.8443 3.46317 12.6868 3.70425C13.5293 3.94616 14.1778 4.59548 15.4755 5.89326L17.0127 7.43044C19.2731 9.69001 20.4012 10.819 20.4012 12.2217C20.4012 13.6254 19.2723 14.7543 17.0136 17.013C14.754 19.2726 13.625 20.4016 12.2214 20.4016C10.8186 20.4016 9.68886 19.2726 7.43012 17.0139L5.89294 15.4767Z" stroke="#050410" stroke-width="1.5"></path>
                            <path d="M10.3372 10.5668C10.9933 9.91076 10.9933 8.84705 10.3372 8.19098C9.68114 7.53491 8.61744 7.53491 7.96136 8.19098C7.30529 8.84705 7.30529 9.91076 7.96136 10.5668C8.61743 11.2229 9.68114 11.2229 10.3372 10.5668Z" stroke="#050410" stroke-width="1.5"></path>
                            <path d="M11.6172 17.4608L17.4795 11.5977" stroke="#050410" stroke-width="1.5" stroke-linecap="round"></path>
                          </svg>#Socialtrends</a>
                        </div>
                        <div class="space18"></div>
                        <a href="blog-details.html" class="title">Transform Your Social Media Strategy An Growing Faster</a>
                        <div class="space26"></div>
                        <div class="btn-area1">
                            <a href="blog-details.html" class="theme-btn43">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
   <!--===== BLOG AREA END =====-->

</div></main>
<div class="space100"></div>
<!--===== CTA AREA STARTS =======-->
<div class="cta-25-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-25-bg-area" style="background-image: url(assets/img/bg/cta25-bg1.png); background-position: center bottom; background-repeat: no-repeat; background-size: cover;">
                    <div class="row">
                        <div class="col-lg-6 m-auto">
                            <div class="cta-25-heading text-center">
                                <h2>Growing Your Social Media Start Your Journey With Us</h2>
                                  <div class="space16"></div>
                                  <p>Social media presence is crucial to building brand awareness driving engagement. At SEOX we specialize creating tailored</p>
                                <div class="space28"></div>
                                <div class="cta25-form-area">
                                    <form>
                                        <input type="text" placeholder="Enter Email Address">
                                        <button type="submit" class="theme-btn43">Subscribe <span><i class="fa-solid fa-arrow-right"></i></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== CTA AREA ENDS =======-->

<footer class="vl-footer-area25">
    
<!-- footer area start -->
<div class="footer-bottom-content">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="vl-footer-widget-black6 vl-footer1-logo-area mr-50 mb-50">
                <div class="vl-footer-logo black-logo">
                    <a href="index.html"><img src="assets/img/logo/black-logo.png" alt=""></a>
                </div>
                <div class="vl-footer-text heading6 mt-20">
                    <p class="mt-16">SEOX is a results-driven SEO and digital marketing agency dedicated to helping businesses thrive in the digital landscape. </p>
                </div>
                <div class="vl-footer-social6 text-start mt-20">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
            </div>
            <div class="col-lg-2  col-md-6 col-6">
            <div class="vl-footer-widget-black6 mb-50 ml-20 md:ml-30 sm:ml-0">
                <h4>Quick Links</h4>
                <div class="vl-footer-list">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="domain.html">Services</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="testimonial.html">Testimonails</a></li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
            <div class="vl-footer-widget-black6 mb-50 ml-70 md:ml-0 sm:ml-0">
                <h4>Category List</h4>
                <div class="vl-footer-list">
                    <ul>
                        <li><a href="#">Digital Marketing</a></li>
                        <li><a href="#">SEO Marketing</a></li>
                        <li><a href="#">Startup Agency</a></li>
                        <li><a href="#">Advertising Agency</a></li>
                        <li><a href="#">Social Media Agency</a></li>
                        <li><a href="#">Web Design Agency</a></li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="col-lg-3 col-md-8 col-sm-6">
            <div class="vl-footer-contact6 vl-footer-widget-black6 mb-50 sm:ml-0 md:ml-0">
                <h4>Contact Information</h4>
                <div class="single-contact-item">
                    <div class="icon">
                        <img src="assets/img/icons/footer-contact-icon1.svg" alt="">
                    </div>
                    <div class="text">
                        <a href="mail:support@seoxagency.com">support@seoxagency.com</a>
                    </div>
                </div>

                <div class="single-contact-item">
                    <div class="icon">
                        <img src="assets/img/icons/footer-contact-icon2.svg" alt="">
                    </div>
                    <div class="text">
                        <a href="#">123 Digital Lane, <br> Marketing City, USA</a>
                    </div>
                </div>

                <div class="single-contact-item">
                    <div class="icon">
                        <img src="assets/img/icons/footer-contact-icon3.svg" alt="">
                    </div>
                    <div class="text">
                        <a href="tel:123-456-7890">123-456-7890</a>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</div>
<!-- footer area end -->
    
<!-- copy-right area start -->
    <div class="container">
        <div class="row vl-copyright6 _dv-top align-items-center">
            <div class="col-lg-6">
            <div class="copyright-text left-side">
                <p>ⓒCopyright 2025 SEOX . All rights reserved</p>
            </div>
            </div>
            <div class="col-lg-6">
            <div class="copyright-text right-side text-end sm:text-start md:text-start">
                <a href="#">Terms & Conditions</a>
                <a href="#" class="add-before"> Privacy Policy </a>
            </div>
            </div>
        </div>
    </div>
<!-- copy-right area end -->

</footer>



<!--=== js === -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/fontawesome.js"></script>
<script src="assets/js/mobile-menu.js"></script>
<script src="assets/js/jquery.magnific-popup.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script src="assets/js/slick-slider.js"></script>
<script src="assets/js/circle-progress.js"></script>
<script src="assets/js/jquery.nice-select.js"></script>
<script src="assets/js/gsap.min.js"></script>
<script src="assets/js/ScrollTrigger.min.js"></script>
<script src="assets/js/swiper-bundle.js"></script>
<script src="assets/js/Splitetext.js"></script>
<script src="assets/js/text-animation.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/SmoothScroll.js"></script>
<script src="assets/js/jaquery-ripples.js"></script>
<script src="assets/js/jquery.lineProgressbar.js"></script>
<script src="assets/js/animation.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>